<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Serhii Pimenov"/>
    
    <title>@(ViewData["IsIndexPage"] == null ? @ViewData["Title"] + " - " : "")EasyQuery library samples</title>

    <link rel="stylesheet" href="~/css/index.css"/>
    <link rel="stylesheet" href="~/css/layout.css"/>

    @RenderSection("Styles", required: false)
</head>
<body>

<header id="app-bar">
    <div class="app-title">
        <button id="showSidebarButton" class="transform-button" onclick="toggleSidebar()"><span></span></button>
        Advanced Search Demo
    </div>
    <div class="toolbar main-toolbar">
        <div class="toolbar-group">
            <button id="ShowEntitiesButton" class="tool-button" title="Show Entities Panel" aria-label="Show Entities Panel" onclick="document.body.classList.remove('no-entities')">
                <img class="icon" src="~/images/tree-view.svg" alt="Show Entities Panel"/>
            </button>
        </div>
        <div class="toolbar-group">
            <button class="tool-button" id="NewQueryButton" title="New Query" aria-label="New Query">
                <img class="icon" src="~/images/new.svg" alt="New Query"/>
            </button>
            <button class="tool-button" id="LoadQueryButton" title="Open Query From Storage" aria-label="Open Query From Storage">
                <img class="icon" src="~/images/open.svg" alt="Open Query"/>
            </button>
            <button class="tool-button" id="ClearQueryButton" title="Clear Query" aria-label="Clear Query">
                <img class="icon" src="~/images/clear.svg" alt="Clear Query"/>
            </button>
        </div>
        <div class="toolbar-group">
            <button class="tool-button" id="SaveQueryButton" title="Save Query" aria-label="Save Query">
                <img class="icon" src="~/images/save.svg" alt="Save Query"/>
            </button>
            <button class="tool-button" id="CopyQueryButton" title="Save Query As..." aria-label="Save Query As">
                <img class="icon" src="~/images/save-as.svg" alt="SaveAs"/>
            </button>
            <button class="tool-button" id="RemoveQueryButton" title="Remove Query From Storage" aria-label="Remove Query From Storage">
                <img class="icon" src="~/images/remove.svg" alt="Remove Query"/>
            </button>
        </div>
        <div class="toolbar-group">
            <button class="tool-button" id="ExecQueryButton" title="Fetch Data" aria-label="Fetch Data">
                <img class="icon" src="~/images/run.svg" alt="Fetch Data"/>
            </button>
        </div>
    </div>
    <div class="query-name">
        <div id="query-name">New Query</div>
    </div>
</header>

<aside id="sidebar">
    <div class="logo">
        <button class="close-sidebar-btn" onclick="toggleSidebar()">&times;</button>
        <img src="~/images/search-list.svg" alt="logo"/>
    </div>
    <button type="button" class="btn-toggle-sidebar" onclick="document.body.classList.toggle('sb-expand');">
        <span class="icon">⬌</span>
    </button>

    <ul class="sidebar-menu">
        <li title="New Query" id="new-query-menu-item" class="command-item">
            <a href="#" onclick="clickButton('NewQueryButton')" class="no-wrap">
                <span class="icon"><img src="~/images/new-light.svg" alt="new image"/></span>
                <span class="caption">New Query</span>
            </a>
        </li>
        <li title="Load Query" id="load-query-menu-item" class="command-item">
            <a href="#" onclick="clickButton('LoadQueryButton')" class="no-wrap">
                <span class="icon"><img src="~/images/open-light.svg" alt="load image"/></span>
                <span class="caption">Load Query</span>
            </a>
        </li>
        <li title="Clear Query" id="clear-query-menu-item" class="command-item">
            <a href="#" onclick="clickButton('ClearQueryButton')" class="no-wrap">
                <span class="icon"><img src="~/images/clear-light.svg" alt="clear image"/></span>
                <span class="caption">Clear Query</span>
            </a>
        </li>
        <li title="Save Query" id="save-query-menu-item" class="command-item">
            <a href="#" onclick="clickButton('SaveQueryButton')" class="no-wrap">
                <span class="icon"><img src="~/images/save-light.svg" alt="save image"/></span>
                <span class="caption">Save Query</span>
            </a>
        </li>
        <li title="Save Query As..." id="save-as-query-menu-item" class="command-item">
            <a href="#" onclick="clickButton('CopyQueryButton')" class="no-wrap">
                <span class="icon"><img src="~/images/save-as-light.svg" alt="save as image"/></span>
                <span class="caption">Save Query As...</span>
            </a>
        </li>
        <li title="Remove Query From Storage" id="delete-query-menu-item" class="command-item">
            <a href="#" onclick="clickButton('RemoveQueryButton')" class="no-wrap">
                <span class="icon"><img src="~/images/remove-light.svg" alt="remove image"/></span>
                <span class="caption">Remove Query</span>
            </a>
        </li>
        <li title="Fetch Data" id="fetch-query-menu-item" class="command-item">
            <a href="#" onclick="clickButton('ExecQueryButton')" class="no-wrap">
                <span class="icon"><img src="~/images/run-light.svg" alt="run image"/></span>
                <span class="caption">Fetch Data</span>
            </a>
        </li>
        <li class="separator"></li>
        <li title="Dashboard">
            <a href="/">
                <span class="icon"><img src="~/images/dashboard.svg" alt="dashboard"/></span>
                <span class="caption">Dashboard</span>
            </a>
        </li>
        <li title="Privacy">
            <a href="/privacy">
                <span class="icon"><img src="~/images/privacy.svg" alt="dashboard"/></span>
                <span class="caption">Privacy</span>
            </a>
        </li>
        <li title="About">
            <a href="/about">
                <span class="icon"><img src="~/images/about.svg" alt="dashboard"/></span>
                <span class="caption">About</span>
            </a>
        </li>
    </ul>
</aside>

<main>
    @RenderBody()
</main>

<script src="~/js/index.js"></script>
<script>
    function toggleSidebar() {
        document.querySelector("#showSidebarButton").classList.toggle('transform');
        document.body.classList.toggle('sb-expand');
    }
    
    function clickButton(id) {
        const btn = document.querySelector(`#${id}`)
        btn.click()
    }
</script>

@RenderSection("Scripts", required: false)

</body>
</html>
